# NYC traffic accidents 2019-2020  
## Filter and Subset

In [3]:
## import necessary libraries
import pandas as pd

In [4]:
## read the dataset into notebook

df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv")

In [5]:
## show the data frame

In [6]:
df

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,5/21/19,22:50,BROOKLYN,"(40.69754, -73.98312)",0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ÔøΩMBU,Taxi
1,1/21/20,15:49,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4277087,Sedan,Station Wagon/Sport Utility Vehicle
2,12/31/20,16:30,NaN,NaN,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4380668,Sedan,NaN
3,12/25/20,20:19,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4380494,Sedan,Sedan
4,4/15/20,15:20,NaN,"(40.671585, -73.99843)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407790,Sedan,Tractor Truck Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324378,1/1/19,19:00,BROOKLYN,"(40.6897, -73.922455)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
324379,1/1/19,8:00,BRONX,"(40.81317, -73.859146)",0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
324380,1/1/19,3:30,BRONX,"(40.829407, -73.81967)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
324381,1/1/19,19:30,BROOKLYN,"(40.687565, -73.984406)",0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
324382,1/1/19,12:00,MANHATTAN,"(40.71941, -73.99633)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [7]:
## see the overall info about this dataset
df.shape

(324383, 17)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [11]:
## how many types of vehicles were the primary cause of the accidents
df["VEHICLE TYPE CODE 1"].value_counts()

Sedan                                  147440
Station Wagon/Sport Utility Vehicle    120571
Taxi                                    13592
Pick-up Truck                            8958
Box Truck                                6266
                                        ...
Ford sprin                                  1
e skate bo                                  1
NYC AMBULA                                  1
MOTOR SCOO                                  1
MAC T                                       1
Name: VEHICLE TYPE CODE 1, Length: 653, dtype: int64

In [ ]:
##There were 653 vechile types which caused accidents

In [29]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7
vtc1=df["VEHICLE TYPE CODE 1"].value_counts()
vtc1[0:7]

Sedan                                  147440
Station Wagon/Sport Utility Vehicle    120571
Taxi                                    13592
Pick-up Truck                            8958
Box Truck                                6266
Bus                                      4980
Bike                                     3124
Name: VEHICLE TYPE CODE 1, dtype: int64

In [31]:
## create a series of crash dates.
dates=df["CRASH DATE"].value_counts()
dates

6/26/19    803
11/1/19    782
1/18/20    774
6/21/19    771
5/31/19    765
          ...
4/23/20    108
4/12/20    106
4/9/20     103
4/19/20    102
4/5/20      94
Name: CRASH DATE, Length: 731, dtype: int64

In [32]:
## Which borough had the most crashes?
df["BOROUGH"].value_counts()
##BROOKLYN

BROOKLYN         69944
QUEENS           60529
MANHATTAN        37446
BRONX            36741
STATEN ISLAND     6038
Name: BOROUGH, dtype: int64

In [33]:
## What were a FIVE unusual primary vehicles to get into a crash?
vtc1[-5:]

Ford sprin    1
e skate bo    1
NYC AMBULA    1
MOTOR SCOO    1
MAC T         1
Name: VEHICLE TYPE CODE 1, dtype: int64

In [39]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
df_q=df.query('BOROUGH=="QUEENS"')
df_q

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
15,5/2/20,17:30,QUEENS,"(40.67376, -73.79473)",0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,4412513,Station Wagon/Sport Utility Vehicle,Pick-up Truck
74,12/16/20,16:20,QUEENS,"(40.7139, -73.7539)",0,0,0,0,0,0,0,0,Driver Inexperience,NaN,4376676,Box Truck,NaN
97,6/4/20,7:30,QUEENS,"(40.744232, -73.861275)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4423984,Bus,Station Wagon/Sport Utility Vehicle
105,12/3/20,15:10,QUEENS,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4373032,Sedan,NaN
129,12/19/20,16:15,QUEENS,"(40.72362, -73.88802)",1,0,1,0,0,0,0,0,Backing Unsafely,NaN,4379293,Station Wagon/Sport Utility Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324366,1/1/19,11:00,QUEENS,"(40.698704, -73.89974)",0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
324367,1/1/19,12:30,QUEENS,"(40.74114, -73.85747)",0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
324371,1/1/19,2:18,QUEENS,"(40.716507, -73.84711)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
324372,1/1/19,13:00,QUEENS,"(40.665497, -73.75573)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
324375,1/1/19,10:23,QUEENS,"(40.75868, -73.87552)",1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [44]:
## How many people were killed in Queens in accidents?
df_q['NUMBER OF PERSONS KILLED'].sum()
##87

87

In [45]:
## how many cyclists were killed in Queens?
df_q['NUMBER OF CYCLIST KILLED'].sum()
##6

6

**Syntax for querying multi-word column names:**

```dataframe.query('`column name` comparison_operator value')```

Note the opening and closing tick marks ``` ` ```

In [53]:
## create a dataset for Manhattan AND TAXIS only
df_man_taxi=df.query("`BOROUGH`=='MANHATTAN' & `VEHICLE TYPE CODE 1`=='Taxi'")
df_man_taxi

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
343,12/22/20,23:55,MANHATTAN,"(40.78911, -73.96656)",1,0,1,0,0,0,0,0,Unspecified,NaN,4378322,Taxi,NaN
528,12/17/20,3:40,MANHATTAN,"(40.821636, -73.93909)",0,0,0,0,0,0,0,0,Traffic Control Disregarded,Unspecified,4377075,Taxi,NaN
697,12/23/20,21:38,MANHATTAN,"(40.8188, -73.95603)",1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4378603,Taxi,NaN
1330,12/30/20,13:25,MANHATTAN,"(40.748512, -73.98872)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4380283,Taxi,Taxi
1486,12/19/20,13:45,MANHATTAN,"(40.79844, -73.96509)",0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,4377284,Taxi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324013,1/1/19,1:30,MANHATTAN,"(40.770573, -73.982155)",0,0,0,0,0,0,0,0,Other Vehicular,Driver Inattention/Distraction,4060445,Taxi,Station Wagon/Sport Utility Vehicle
324093,1/1/19,16:00,MANHATTAN,"(40.74147, -73.985435)",2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,4061524,Taxi,Station Wagon/Sport Utility Vehicle
324261,1/1/19,16:15,MANHATTAN,"(40.741524, -73.97979)",0,0,0,0,0,0,0,0,Passenger Distraction,Passing Too Closely,4060796,Taxi,Sedan
324296,1/1/19,20:30,MANHATTAN,"(40.821636, -73.93909)",0,0,0,0,0,0,0,0,Unspecified,NaN,4060662,Taxi,NaN
324353,1/1/19,6:00,MANHATTAN,"(40.76161, -73.97076)",0,0,0,0,0,0,0,0,Unspecified,NaN,4060698,Taxi,NaN

In [57]:
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause
cfv1=df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()
cfv1[0:8]

Driver Inattention/Distraction    83809
Unspecified                       78621
Following Too Closely             26689
Failure to Yield Right-of-Way     21943
Backing Unsafely                  13497
Passing or Lane Usage Improper    13406
Passing Too Closely               12649
Other Vehicular                    9646
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [58]:
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause
cfv2=df["CONTRIBUTING FACTOR VEHICLE 2"].value_counts()
cfv2[0:8]

Unspecified                       221742
Driver Inattention/Distraction     18105
Following Too Closely               4507
Other Vehicular                     4268
Passing or Lane Usage Improper      2919
Failure to Yield Right-of-Way       2522
Passing Too Closely                 2124
Unsafe Lane Changing                1502
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [59]:
## What were the 5 fewest causes for primary vehicles causing the accident
cfv1[-5:]

Cell Phone (hands-free)         16
Shoulders Defective/Improper    14
Texting                          6
Windshield Inadequate            5
Listening/Using Headphones       5
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [63]:
## How many unique values are there for primary reasons for accidents
len(cfv1)
##55

55

In [66]:
## list ALL the causes as unique values (in other words, create a list of the causes)
cfv_all=df["CONTRIBUTING FACTOR VEHICLE 2"].value_counts()+df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()
cfv_all

Accelerator Defective                                       181.0
Aggressive Driving/Road Rage                               2027.0
Alcohol Involvement                                        3896.0
Animals Action                                              333.0
Backing Unsafely                                          14565.0
Brakes Defective                                           1293.0
Cell Phone (hand-Held)                                      124.0
Cell Phone (hands-free)                                      19.0
Driver Inattention/Distraction                           101914.0
Driver Inexperience                                        5971.0
Driverless/Runaway Vehicle                                  298.0
Drugs (illegal)                                             222.0
Eating or Drinking                                           35.0
Failure to Keep Right                                       461.0
Failure to Yield Right-of-Way                             24465.0
Fatigued/Drowsy                                             346.0
Fell Asleep                                                1031.0
Following Too Closely                                     31196.0
Glare                                                       636.0
Headlights Defective                                         32.0
Illnes                                                      408.0
Lane Marking Improper/Inadequate                            243.0
Listening/Using Headphones                                   10.0
Lost Consciousness                                          433.0
Obstruction/Debris                                          742.0
Other Electronic Device                                      32.0
Other Lighting Defects                                       40.0
Other Vehicular                                           13914.0
Outside Car Distraction                                     766.0
Oversized Vehicle                                          2156.0
Passenger Distraction                                      1035.0
Passing Too Closely                                       14773.0
Passing or Lane Usage Improper                            16325.0
Pavement Defective                                          383.0
Pavement Slippery                                          3199.0
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      2544.0
Physical Disability                                          99.0
Prescription Medication                                      31.0
Reaction to Uninvolved Vehicle                             5876.0
Shoulders Defective/Improper                                 15.0
Steering Failure                                            563.0
Texting                                                       7.0
Tinted Windows                                               44.0
Tire Failure/Inadequate                                     470.0
Tow Hitch Defective                                          50.0
Traffic Control Device Improper/Non-Working                 187.0
Traffic Control Disregarded                                6945.0
Turning Improperly                                         7481.0
Unsafe Lane Changing                                      10761.0
Unsafe Speed                                               7285.0
Unspecified                                              300363.0
Using On Board Navigation Device                             38.0
Vehicle Vandalism                                            34.0
View Obstructed/Limited                                    3323.0
Windshield Inadequate                                         NaN
dtype: float64